<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Por qué es importante pasar tiempo en familia?</title>
</head>
<body>
    <h1>La familia</h1>
    
    <h3>Introducción</h3>
    
    <p>La idea de este blog es tratar el tema de la familia, <br>como si fuera algo importante, ya sea como las tareas del <br>trabajo o el tiempo de diversión, aplicado en nuestro día a día.
    <br>
    <p>Abordar esta temática nos ayuda a comprender, <br>cómo y de qué manera se puede proyectar planes familiares y posteriormente, <br>que sea parte de nuestra rutina para hacer de nuestro entorno un espacio más unido.</p>
    
    <p>Además esto nos ofrece un <strong><span style=color:black>marco más orientado</span></strong> a diversos aspectos de la vida cotidiana y no solo en las tareas que realizamos de forma "mecánica"</p>
    <br>
    <p> Este es otro texto ejemplificativo para entender <br>otros tags que utilizamos
        en los archivos .html <br>en documentos que se llaman index.html
    </p>
    <br>
    <p>Mis familiares más cercanos son: {{familiar1}}, {{familiar2}} y {{familiar3}}</p>  
    <hr>
    <button>Iniciar sesión</button>
    <button>Registrarse</button>
</body>
</html>